{% load socialaccount %}
<html>
  <head>
    <title>Google Authentication with Django</title>
  </head>
<body>
    {% if user.is_authenticated %}
    <h1>Study Buddy Finder</h1>
    <p></p>"It's like tinder, but for finding people to study with"</p>
    <p>Welcome, {{ user.username }} !</p>
       <a target="_black" href="admin">admin</a>
       <a href="{% url 'logout' %}">Logout</a>

    {% else %}
    <h1>Study Buddy Finder</h1>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>

    {% endif %}

</body>

</html>
