{% extends "core.html" %}
{% load bootstrap5 %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
          <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>{user.username}}</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        <input class="btn btn-primary text-light btn-lg" type="submit" value="submit">
    </form>
    {{ form.media }}
{% endblock %}