<!DOCTYPE html>
{% load socialaccount %}

<!-- Modifying template from https://bootsnipp.com/snippets/4MGa2 -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="messages.css">

<!--3rd Party Fonts & Icons-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<html lang="en">
    <head>
        <title>Your Messages</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Load the tag library #}
        {% load bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        {% if user.is_authenticated %}
             <!-- A grey horizontal navbar that becomes vertical on small screens -->
            <nav class="navbar navbar-expand-sm bg-light">
                <div class="container-fluid">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Find Matches</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Messages</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container fill">
                <div class="row chat-wrap">
            <!--Left Menu / Conversation List-->
            <div class="col-sm-12 section-wrap">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <!-- Replace username -->
                        <h4 id="username"> user.username</h4>
                    </div>
                </div>

                <!--Conversations-->
                <div class="row content-wrap">
                    <form action = "{% url 'change_chats' %}" method = "POST">
                    {% csrf_token %}
                    <!-- Modified to have conversation friendly name rather than contact name -->
                    {% for convo in conversations %}
                        {% if convo.friendly_name is current_chat %}
                            <button type="submit" class="btn btn-primary" id="chat_name" value = "{{ convo.friendly_name }}"> {{ convo.friendly_name }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" id="chat_name" value = "{{ convo.friendly_name }}"> {{ convo.friendly_name }}</button>
                        {% endif %}
                    {% endfor %}
                    </form>>
                </div>

            </div>

        </div>

        <!-- Messages & Info -->
        <div class="col-sm-9 panel-wrap">

            <!--Main Content / Message List-->
            <div class="col-sm-9 section-wrap" id="Messages">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <div class="header-button">
                            <a class="btn pull-right info-btn">
                                <i class="fa fa-info-circle fa-lg"> {{ current_chat }} </i>
                            </a>
                        </div>
                    </div>
                </div>

                <!--Messages-->
                <div class="row content-wrap messages">
                    <div>
                        {% for message in messages %}
                            <div class="msg">
                                <div class="media-body">
                                    <!-- Check if this way of having message info is valid -->
                                    <h5 class="media-heading"> message[1] </h5>
                                    <small class="col-sm-11"> message[0] </small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--Message box & Send Button-->
                <div class="row send-wrap">
                    <div class="send-message">
                        <div class="message-text">
                            <form action = "{% url 'send_message' %}" method = "POST">
                                <input class="no-resize-bar form-control" rows="2" placeholder="Write a message..." name="{{ current_chat }}" id="message_text">
                                <button type="submit" class="send-button" > Send <i class="fa fa-send"></i></button>
                            </form>>
                        </div>
                    </div>
                </div>
            </div>

            <!--Sliding Menu / Conversation Members-->
            <div class="col-sm-3 section-wrap" id="Members">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>Conversation Info</h4>
                        <div class="header-button">
                            <a class="btn pull-right info-btn">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!--Members-->
                <div class="row content-wrap">
                    {% for participant in participants %}
                    <div class="contact">
                        <div class="media-body">
                            <h5 class="media-heading">{{participant.identity}}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--Add Participant Button-->
            
            </div>
        </div>
            </div>
            </div>


        {% else %}
            <div class="p-3 bg-warning text-black text-left">
                <h1>Buddies for Studies Home</h1>
            </div>
            <div class="container p-4 my-2 border">
                <header>
                <h3>Log In:</h3>
                </header>
                <a href="{% provider_login_url 'google' %}">Log In</a>
            </div>

        {% endif %}

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
            <span class="text-muted">UVA CS 3240 B-15</span>
            </div>
        </footer>

    </body>
</html>