<div class="p-3 bg-warning text-black text-left">
  <h1>Buddies for Studies Login</h1>
</div>

{% load i18n %}


{% block content %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>Buddies for Studies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load the tag library #}
  {% load bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="container p-4 my-2 border">
<h3>{% trans "Sign Up" %}</h3>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">UVA CS 3240 B-15</span>
  </div>
</footer>

</body>
</html>

{% endblock %}
